

section {
	margin-top: 40px;
	padding: 5% 0;
}
.gold {
	background-color: $background_color_1;
}
.dl {
	background: #e9ecef;
	border-radius: 20px;
	position: relative;
	font-family: $Basistekst;
	padding: 30px 0;
	&:before {
		content: " ";
		height: 20px;
		width: 20px;
		background: #ddd;
		border-radius: 20px;
		position: absolute;
		left: 50%;
		top: 20px;
		margin-left: -10px;
	}
	.brand {
		text-transform: uppercase;
		letter-spacing: 3px;
		margin-top: 10px;
		text-align: center;
		min-height: 100px;
		padding: 10px 15px;
	}
	.discount {
		min-height: 30px;
		position: relative;
		font-size: 60px;
		line-height: 80px;
		text-align: center;
		color: $Donkerbruin;
		padding: 20px 15px 0;
		.type {
			font-size: 20px;
			letter-spacing: 1px;
			text-transform: uppercase;
			margin-top: -30px;
		}
	}
	.descr {
		color: $color_2;
		margin-top: 10px;
		padding: 20px 15px;
	}
	.coupon {
		min-height: 50px;
		text-align: center;
		text-transform: uppercase;
		font-weight: 700;
		font-size: 18px;
		padding: 20px 15px;
	}
}
small {
	font-size: 18px;
}
strong {
	font-size: 20px;
	color: $Donkerbruin;
}
.table {
	font-weight: 400 !important;
}
table {
	font-family: $Basistekst;
}
.panel {
	font-family: $Basistekst;
}
