 @font-face {
  font-family: "Ailerons";
  src: url("../fonts/Ailerons-Typeface.otf");
}

@mixin embed-font ($Ailerons) {

  @Ailerons{
    font-family: Ailerons;
    src: url(font_path('fonts/Ailerons-Typeface.otf'))
  }
}

@import
  "bootstrap-variables",                  // See _bootstrap-variables.scss
  "../_vendor/bootstrap/scss/bootstrap";  // See _vendor/bootstrap/scss/bootstrap.scss




  $White: #fff;
  $Titel: Ailerons;
  $Basistekst: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  $Gold: #be9219;
  $Grey: #f8f9fa;
  $Donkerbruin: rgba(102, 66, 12, 0.808);
$color_2: #999;
$background_color_1: #d9caac;




@import "indexnavfooter";

@import "eddieinhuis";

@import "overeddie";

@media screen and (max-width: 480px) {

.catphoto {

  width: 200px;
}

.cosyphoto {

  margin-top: 30px;
}

.lead {

  margin-left: 0px;
}

.dl {
  
  margin: 40px;
}

h2 {

  font-size: 1.5rem;
}

.catphoto2 {

  width: 300px;
  margin-top: 40px;
}

.navbar-brand {
  margin-left: 0rem;
  }


}

