.page-header {
    margin-bottom:30px;
    }
    
    .features_table h1 {
    font-size:25px!important;
    }
    
    li {
    list-style:none;
    }
    
    .tabel {
    margin-top:60px;
    }
    
    .intro2 {
    margin-top:100px;
    }
